@-webkit-keyframes ani {
    0%   {
        background-color:rgb(250, 250, 250); 
        left:0px; 
        top:0px;
    }
    25%  {
        background-color:rgb(238, 238, 238); 
        left:60px; 
        top:0px;
    }
    50%  {
        background-color:rgb(237, 237, 238); 
        left:80px; 
        top:0px;
    }
    100% {
        background-color:rgb(139, 139, 139); 
        left:0px; 
        top:0px;
    }
    75%  {
        background-color:rgb(255, 255, 255); 
        left:90px; 
        top:0px;
    }
}

@keyframes ani {
    0%   {
        background-color:rgb(250, 250, 250); 
        left:0px; 
        top:0px;
    }
    25%  {
        background-color:rgb(238, 238, 238); 
        left:60px; 
        top:0px;
    }
    50%  {
        background-color:rgb(237, 237, 238); 
        left:80px; 
        top:0px;
    }
    100% {
        background-color:rgb(139, 139, 139); 
        left:0px; 
        top:0px;
    }
    75%  {
        background-color:rgb(255, 255, 255); 
        left:90px; 
        top:0px;
    }
}

.html,.css,.js,.php{
    -webkit-animation: ani 5s ease-in-out infinite;
            animation: ani 5s ease-in-out infinite;
    position: relative;
    font-size: .8em;
}

